.yui-auth-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 102;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.yui-auth-form{
  background-color: #fff;
  width: 100%;
  min-height: 150px;
 /*  padding: 16px 0px; */
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}


.yui-auth-form .yui-auth-close {
  height: 50px;
  position: relative;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #e0e0e0;
}
.yui-auth-form .yui-auth-close span{
  font-family: PingFangSC-Regular;
font-size: 18px;
color: #333333;
text-align: center;
}

.yui-auth-form .yui-auth-close i {
  position: absolute;
  left: 0;
  font-family: "iconfont", serif !important;
  width: 30px;
  height: 30px;
  text-align: center;
}

.yui-auth-form .yui-auth-close i:before {
  content: '\e697';
  font-size: 20px;
}

.yui-auth-form .ui-btn-group {
  padding: 15px 10px 0px 10px;
}

.yui-auth-form .ui-btn-primary {
  border-radius: 6px;
  background: linear-gradient(270deg, #FDDE81 0%, #FDB15D 100%);
  border: none;
}

.yui-auth-form .ui-border-l {
  height: 30px;
  line-height: 28px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .yui-auth-form .ui-btn-primary:before {
    border: 2px solid #09a991;
    border-radius: 10px !important;
  }
}
.yui-auth-form-item {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 0.14rem;
}

.yui-auth-form-item a {
  color: #69c9ba;
  text-decoration: underline;
}

.yui-auth-form-item.yui-auth-pwd {
  margin-top: 10px;
}
.yui-auth-form-item .pwd_tips{
	font-family: PingFangSC-Regular;
	font-size: 13px;
	color: #999999;
	text-align: center;
}
.yui-auth-form-item .pwd-container {
  margin-top: 12px;
  display: block;
  position: relative;
}

.yui-auth-form-item .finger-print {
  height: 50px;
  background: url("../../img/finger-print.png") no-repeat center;
  margin-top: 15px;
  background-size: 50px 50px;
}

.pwd-container input {
  position: absolute;
  height: 50px;
  width: 300px;
  left: 50%;
  font-size: 16px;
  letter-spacing: 60px;
  border: none;
  opacity: 0;
  margin-left: -150px;
}

div.sixDigitPassword {
  width: 297px;
  cursor: text;
  background: #fff;
  outline: none;
  position: relative;
  padding: 1px 0;
  margin: 0 auto;
  height: 50px;
  border: 1px solid #156be4;
  border-radius: 5px;
}

div.sixDigitPassword b {
  display: block;
  margin: 19px auto 0 auto;
  width: 12px;
  height: 12px;
  overflow: hidden;
  visibility: hidden;
  background: url("../../img/common/point.png") no-repeat;
  background-size: 100% 100%;
}

div.sixDigitPassword i {
  width: 48px;
  float: left;
  display: block;
  padding: 0;
  height: 45px;
  line-height: 50px;
  border-left: 1px solid #e0e0e0;
  font-size: 24px;
}

div.sixDigitPassword i.active {
  background: url("../../img/cursor.gif") no-repeat;
  background-position: center center;
  background-size: 3px 19px;
}

div.sixDigitPassword i:first-child {
  border: 0;
}

.yui-auth-form .ui-form-item label:not(.ui-switch):not(.ui-checkbox):not(.ui-checkbox-s):not(.ui-radio):not(.ui-radio-s) {
  width: 70px;
  text-align: left;
}

.yui-auth-form .ui-form-item input,
.yui-auth-form .ui-form-item textarea {
  margin-left: 70px;
  padding: 0;
  width: 175px;
  font-size: 0.12rem;
}

.yui-auth-form.auth-animated {
  animation: slideInDown .5s forwards;
}

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0.1;
    bottom: -100%;
  }
 /*  80% {
    bottom: -25%;
  } */
  100% {
    bottom: 0%;
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0.1;
    bottom: -100%;
  }
 /*  80% {
    bottom: -25%;
  } */
  100% {
    bottom: 0%;
  }
}
.yui-auth-layer .change-animated {
  animation: slideTurn .5s forwards;
}

@-webkit-keyframes slideTurn {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
    top: 20%;
  }
}
.yui-auth-form.close-animated {
  animation: slideInUp .5s forwards;
}

@-webkit-keyframes slideInUp {
   0% {
    bottom: 0%;
  }
  100% {
    opacity: 0.1;
    bottom: -100%;
  }
}
@keyframes slideInUp {
  0% {
    bottom: 0%;
  }
  100% {
    opacity: 0.2;
    bottom: -100%;
  }
}
.yui-auth-layer .yui-auth-types .yui-auth-types-header {
  height: 0.35rem;
  line-height: 0.35rem;
  position: relative;
  text-align: center;
}

.yui-auth-layer .yui-auth-types .yui-auth-header-back {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  left: 0.1rem;
  top: 0.05rem;
  background: url("../../img/auth-goback.png") no-repeat right;
  background-size: 0.25rem 0.25rem;
}

.yui-auth-layer .yui-auth-types p {
  padding: 0.08rem 0.1rem;
}
.smsClass{
    height: 52px;
    line-height: 52px;
    padding: 0 16px;
}
.smsInput{
	width: 60%;
	height: 22px;
    border: none;
    margin-right: 10px;
    padding-left: 15px;
    border-right: 0.5px solid #EEEEEE;
    font-family: PingFangSC-Regular;
	font-size: 15px;
	color: #999999;
	letter-spacing: 0;
}
.pay {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
}
#PASS_WORD {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	border: 0;
	opacity: 0;
	z-index: 999;
	margin-left: 0px;
}

.PASS_WORD {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.PASS_WORD li {
	width: 16.6%;
	list-style: none;
	height: 28px;
	line-height: 25px;
	font-family:"PingFang";
	text-align: center;
	border: 1px solid #D8D8D8;
	background-color: #fff;
	font-size: 20px;
	color: #646464;
	float: left;
	border-left: 0;
	box-sizing: border-box;
	position: relative;
}
.yuan {
	width: 16px;
	height: 16px;
	background: #666;
	border-radius: 50%;
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
/* 按钮样式 */
#_authBoxLj .cy-btn{
	height: 52px;
	opacity: 0.6;
	background-image: linear-gradient(270deg, #FDDE81 0%, #FDB15D 100%);
	border-radius: 26px;
	border-radius: 26px;
    margin-top: 16px;
    margin-bottom: 20px;
}
#_authBoxLj .cy-btn button{
	width:100%;
	height:52px;
	text-align: center;
	display: inherit;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
}
#_authBoxLj .yui-auth-tra .tra_tit{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #666666;
	letter-spacing: 0;
	text-align: center;
	margin-bottom: 8px;
	margin-top: 16px;
}
#_authBoxLj .yui-auth-tra .tra_money{
	font-family: PingFangSC-Medium;
	font-size: 28px;
	color: #222222;
	letter-spacing: 0;
	text-align: center;
	margin-bottom: 6px;
}