.yui-auth-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 102;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}
.yui-auth-form,
.yui-auth-types {
  background-color: #fff;
  width: 324px;
  min-height: 150px;
  padding: 15px 10px;
  border-radius: 4px;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -162px;
}
.yui-auth-types {
  display: none;
  padding-top: 0.05rem;
}
.yui-auth-form .yui-auth-close {
  height: 20px;
  margin-top: -10px;
  position: relative;
}
.yui-auth-form .yui-auth-close i {
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'iconfont', serif !important;
  width: 30px;
  height: 30px;
  text-align: center;
}
.yui-auth-form .yui-auth-close i:before {
  content: '\e69a';
  font-size: 20px;
}
.yui-auth-form .ui-btn-group {
  padding: 15px 10px 0px 10px;
}
.yui-auth-form .ui-btn-primary {
  border-radius: 6px;
  background: linear-gradient(to right, #34bcfb, #6862da);
  border: none;
  color: #fff;
}
.yui-auth-form .ui-border-l {
  height: 22px;
  line-height: 22px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .yui-auth-form .ui-btn-primary:before {
    border: 2px solid #09a991;
    border-radius: 10px !important;
  }
}
.yui-auth-form-item {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 0.14rem;
}
.yui-auth-form-item a {
  color: #69c9ba;
  text-decoration: underline;
}
.yui-auth-form-item.yui-auth-pwd {
  margin-top: 10px;
}
.yui-auth-form-item .pwd-container {
  margin-top: 5px;
  display: block;
  position: relative;
}
.yui-auth-form-item .finger-print {
  height: 50px;
  background: url("../../img/finger-print.png") no-repeat center;
  margin-top: 15px;
  background-size: 50px 50px;
}
.pwd-container input {
  position: absolute;
  height: 30px;
  width: 200px;
  left: 50%;
  font-size: 16px;
  letter-spacing: 28px;
  border: none;
  opacity: 0;
  margin-left: -100px;
}
div.sixDigitPassword {
  width: 200px;
  cursor: text;
  background: #fff;
  outline: none;
  position: relative;
  padding: 1px 0;
  margin: 0 auto;
  height: 30px;
  border: 1px solid #156be4;
  border-radius: 5px;
}
div.sixDigitPassword b {
  display: block;
  margin: 7px auto 0 auto;
  width: 12px;
  height: 12px;
  overflow: hidden;
  visibility: hidden;
  background: url("../../img/common/point.png") no-repeat;
  background-size: 100% 100%;
}
div.sixDigitPassword i {
  width: 32px;
  float: left;
  display: block;
  padding: 0;
  height: 27px;
  line-height: 27px;
  border-left: 1px solid #e0e0e0;
  font-size: 24px;
}
div.sixDigitPassword i.active {
  background: url("../../img/cursor.gif") no-repeat;
  background-position: center center;
  background-size: 3px 19px;
}
div.sixDigitPassword i:first-child {
  border: 0;
}
.yui-auth-form .ui-form-item label:not(.ui-switch):not(.ui-checkbox):not(.ui-checkbox-s):not(.ui-radio):not(.ui-radio-s) {
  width: 70px;
  text-align: left;
}
.yui-auth-form .ui-form-item input,
.yui-auth-form .ui-form-item textarea {
  margin-left: 70px;
  padding: 0;
  width: 175px;
  font-size: 0.12rem;
}
.yui-auth-form.auth-animated {
  animation: slideInDown 1s forwards;
}
.yui-auth-layer .change-animated {
  animation: slideTurn 1s forwards;
}
.yui-auth-form.close-animated {
  animation: slideInUp 0.8s forwards;
}
.yui-auth-layer .yui-auth-types .yui-auth-types-header {
  height: 0.35rem;
  line-height: 0.35rem;
  position: relative;
  text-align: center;
}
.yui-auth-layer .yui-auth-types .yui-auth-header-back {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  left: 0.1rem;
  top: 0.05rem;
  background: url("../../img/auth-goback.png") no-repeat right;
  background-size: 0.25rem 0.25rem;
}
.yui-auth-layer .yui-auth-types p {
  padding: 0.08rem 0.1rem;
}
@-moz-keyframes slideInDown {
  0% {
    opacity: 0.1;
    top: -100%;
  }
  80% {
    top: 25%;
  }
  100% {
    top: 20%;
  }
}
@-webkit-keyframes slideInDown {
  0% {
    opacity: 0.1;
    top: -100%;
  }
  80% {
    top: 25%;
  }
  100% {
    top: 20%;
  }
}
@-o-keyframes slideInDown {
  0% {
    opacity: 0.1;
    top: -100%;
  }
  80% {
    top: 25%;
  }
  100% {
    top: 20%;
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0.1;
    top: -100%;
  }
  80% {
    top: 25%;
  }
  100% {
    top: 20%;
  }
}
@-moz-keyframes slideInDown {
  0% {
    opacity: 0.1;
    top: -100%;
  }
  80% {
    top: 25%;
  }
  100% {
    top: 20%;
  }
}
@-webkit-keyframes slideInDown {
  0% {
    opacity: 0.1;
    top: -100%;
  }
  80% {
    top: 25%;
  }
  100% {
    top: 20%;
  }
}
@-o-keyframes slideInDown {
  0% {
    opacity: 0.1;
    top: -100%;
  }
  80% {
    top: 25%;
  }
  100% {
    top: 20%;
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0.1;
    top: -100%;
  }
  80% {
    top: 25%;
  }
  100% {
    top: 20%;
  }
}
@-moz-keyframes slideTurn {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
    top: 20%;
  }
}
@-webkit-keyframes slideTurn {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
    top: 20%;
  }
}
@-o-keyframes slideTurn {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
    top: 20%;
  }
}
@keyframes slideTurn {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
    top: 20%;
  }
}
@-moz-keyframes slideInUp {
  100% {
    opacity: 0.2;
    top: 100%;
  }
}
@-webkit-keyframes slideInUp {
  100% {
    opacity: 0.2;
    top: 100%;
  }
}
@-o-keyframes slideInUp {
  100% {
    opacity: 0.2;
    top: 100%;
  }
}
@keyframes slideInUp {
  100% {
    opacity: 0.2;
    top: 100%;
  }
}
@-moz-keyframes slideInUp {
  100% {
    opacity: 0.2;
    top: 100%;
  }
}
@-webkit-keyframes slideInUp {
  100% {
    opacity: 0.2;
    top: 100%;
  }
}
@-o-keyframes slideInUp {
  100% {
    opacity: 0.2;
    top: 100%;
  }
}
@keyframes slideInUp {
  100% {
    opacity: 0.2;
    top: 100%;
  }
}
