.y-charts-icon:before {
  content: '';
  position: absolute;
  height: 14px;
  width: 3px;
  left: -10px;
  top: 13px;
  background: #52b4f4;
  border-radius: 12px;
}
.y-charts-icon-0:before {
  background: #c1232b;
}
.y-charts-icon-1:before {
  background: #b5c334;
}
.y-charts-icon-2:before {
  background: #fcce10;
}
.y-charts-icon-3:before {
  background: #e87c25;
}
.y-charts-icon-4:before {
  background: #fe8463;
}
.y-charts-icon-5:before {
  background: #9bca63;
}
.y-charts-icon-6:before {
  background: #fad860;
}
.y-charts-icon-7:before {
  background: #f3a43b;
}
.y-charts-icon-8:before {
  background: #60c0dd;
}
.y-charts-icon-9:before {
  background: #d7504b;
}
.y-charts-icon-10:before {
  background: #c6e579;
}
.y-charts-icon-11:before {
  background: #f4e001;
}
.y-charts-icon-12:before {
  background: #f0805a;
}
.y-charts-icon-13:before {
  background: #26c0c0;
}
