@charset "utf-8";
/**理财**/
.yui-fina-list{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.yui-fina-list .yui-fina-list-item {
	padding-top: 10px;
}
.yui-fina-list-item .ui-list-bg,
.yui-fina-list-item .ui-list-lg{
	padding-top: 10px;
	padding-bottom: 5px;
}
.yui-fina-list-item [class^="ui-list"]>.ui-list-item{
	height: 28px;
	line-height: 28px;
}
.yui-fina-list-btn{
	background-color: #fff;
	display: -webkit-box;
	-webkit-box-pack: center;
    padding-top: 5px;
	padding-bottom: 12px;
}
.yui-fina-list-btn .wrap{
	display: -webkit-box;
	width: 300px;
}
.yui-fina-list-btn .btn-item{
	-webkit-box-flex: 1;
	width: 0;
	height: 35px;
	min-width: 150px;
	text-align: center;
	line-height: 35px;
	color: #fff;
	border-radius: 20px;
}
.yui-fina-list-btn .btn-group .btn-item.left{
	background: url("../../img/fina/btn_left.png") no-repeat;
	background-size: 150px 35px;
	border-radius: 0;
}
.yui-fina-list-btn .btn-item.left{
	background-color: #6271de;
}
.yui-fina-list-btn .btn-item.right{
	background-color: #4F5FCE;
}
.yui-fina-list-btn .btn-item i{
	position: relative;
}
.yui-fina-list-btn .btn-item.left i:before{
	content: '';
	position: absolute;
	width: 20px;
	height: 22px;
	background: url("../../img/fina/icon_reservation@2x.png") no-repeat;
	background-size: 20px 22px;
	left: -21px;
    top: -3px;
}
.yui-fina-list-btn .btn-item.right i:before{
	content: '';
	position: absolute;
	width: 20px;
	height: 22px;
	background: url("../../img/fina/icon_realTime@2x.png") no-repeat;
	background-size: 20px 22px;
	left: -21px;
    top: -3px;
}
.yui-fina-list-btn .btn-group .btn-item.right{
	background: url("../../img/fina/btn_right.png") no-repeat;
	background-size: 150px 35px;
	border-radius: 0;
}
.yui-fina-list-item [class^="ui-list"]>.ui-list-item.yui-fina-list-input{
	height: 50px;
	padding-top: 7px;
}
.yui-fina-list-input input{
	height: 33px;
	width: 100%;
	border: 1px solid #cacaca;
	border-radius: 6px;
	padding-left: 10px;
	padding-right: 10px;
}
.yui-fina-date{
	position: relative;
}
.yui-fina-date:after{
	font-family: "iconfont" !important;
    font-size: 22px;
    line-height: 33px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    display: block;
    color: #909090;
    content: "\e6a6";
    position: absolute;
    right: 7px;
    top: 50%;
    margin-top: -16px;
    border: 0;
    z-index: 1;
}

.yui-fina-panel{
	background-image: linear-gradient(-135deg, #6E85F6 0%, #4054CF 100%);
	padding: 16px 16px;
	color: #fff;
}
.yui-fina-panel>div{
	
}
.yui-fina-panel .header{
	font-size: 15px;
	height: 24px;
	line-height: 24px;
	position: relative;
}
.yui-fina-panel .header .flag{
	position: absolute;
	right: 0;
	top: 2px;
	border: 1px solid #fff;
	border-radius: 15px;
	font-size: 12px;
    padding: 0 6px;
    margin: 0;
    height: 20px;
    line-height: 20px;
}
.yui-fina-panel .conter{
	opacity: 0.5;
	font-size: 13px;
	padding-top: 3px;
}
.yui-fina-panel .footer{
	font-size: 13px;
	color: #FFFFFF;
	padding-top: 13px;
}
.yui-rate-list{
	background-color: #fff;
	display: none;
}
.yui-rate-list.show{
	display: block;
}
.yui-rate-list .conter{
	padding-left: 16px;
}
.yui-rate-list .header .item{
	padding-left: 16px;
	font-size: 14px;
}
.yui-rate-list .item{
	display: -webkit-box;
	height: 45px;
	line-height: 45px;
	font-size: 15px;
}
.yui-rate-list .item.title{
	height: 35px;
	line-height: 35px;
	color: #6068A2;
	background-color: #EBEEFF;
}
.yui-rate-list .item>div{
	-webkit-box-flex: 1;
	width: 0;
}
.ui-module-tips .more{
	position: absolute;
	right: 26px;
	font-size: 13px;
	color: #C0C3CE;
}
.ui-module-tips .more:after {
    font-family: "iconfont" !important;
    font-size: 18px;
    line-height: 35px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    display: block;
    color: #909090;
    content: "\e6a6";
    position: absolute;
    right: -20px;
    top: 50%;
    margin-top: -18px;
    border: 0;
    z-index: 1;
	-webkit-transition: all 0.2s;
}
.ui-module-tips.show .more:after{
	-webkit-transform: rotate(180deg);
}

