@charset "utf-8";
.ui-financial-title{
   height: 50px;
   line-height: 50px;
   padding-left: 20px;
   padding-right: 20px;
   box-sizing: border-box;
   position: relative; 
   font-size: 18px;
   font-weight: 500;
}
.ui-financial-title .tips{
    font-size: 12px;
    color: #999;
    font-weight: normal;
}
.ui-financial-title .more{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    font-weight: normal;
}
.ui-financial-panel{
    padding: 0 16px;
}
.ui-financial-panel .ad img{
    width: 100%;
    height: 100px;
}
.ui-financial-item{
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
}
.ui-financial-rate{
    width: 120px;
    font-size: 0;
}
.ui-financial-rate .rate{
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    font-size: 34px;
    font-weight: 500;
    color: #f65246;
}
.ui-financial-rate .per{
    font-size: 18px;
    color: #f65246;
    padding-left: 2px;
}
.ui-financial-rate .txt{
    font-size: 14px;
    color: #777;
    padding-top: 8px;
}
.ui-financial-content{
    flex: 1;
    width: 0;
    min-width: 100px;
    padding-left: 10px;
}
.ui-financial-content .title{
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ui-financial-content .info{
    padding-top: 20px;
    color: #777;
}

.ui-financial-content .info i{
    padding-right: 15px;
}
.ui-recommend-panel{
    display: flex;
    padding: .05rem .05rem;
}

.ui-recommend-item{
    flex: 1;
    margin: 0 .05rem;
    padding: .16rem .08rem;
    box-shadow: 0px 1px 4px -1px #777777;
    border-radius: 3px;
    overflow: hidden;
}
.ui-recommend-item .title{
    font-weight: 500;
    font-size: .17rem;
    padding-bottom: .1rem;
}
.ui-recommend-item .info{
    font-size: .13rem;
    color: #888888;
    padding-bottom: .06rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ui-recommend-item .rate-panel{
    padding: .05rem 0;
    color: #f65246;
    font-size: 0;
}
.ui-recommend-item .rate-panel .rate{
    font-size: .28rem;
    font-weight: 500;
}

.ui-recommend-item .rate-panel .per{
    font-size: .18rem;
    color: #f65246;
}
.ui-recommend-item .tips{
    font-size: .14rem;
    color: #f65246;
}
.ui-financial-slider-panel{
    overflow: scroll;
}
.ui-financial-slider-panel::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.ui-financial-slider{
    display: inline-flex;
}

.ui-financial-slider .item{
    width: 300px;
    height: 140px;
    border-radius: 4px;
    background-image: linear-gradient(-225deg, #6e543a 0%, #ffffff 100%);
    margin: 0 6px;
    padding: 10px;
    box-sizing: border-box;
}
.ui-financial-slider .title{
    font-size: 12px;
    font-weight: 500;
    color: #f2f2f2;
}
.ui-financial-slider .content{
    padding: 10px 0;
}
.ui-financial-slider .content .info{
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
}
.ui-financial-slider .content .tips{
    padding-top: 10px;
    font-size: 12px;
    color: #ffffff;
}
.ui-financial-slider .footer{
    padding-top: 4px;
}

.ui-financial-slider .footer .btn{
    padding: 4px 16px;
    color: #ffffff;
    font-size: 12px;
    background-color: #472e0f;
    border-radius: 20px;
}