/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
style.css
*/

@charset 'UTF-8';
html {
	color: #000;
	background: #f3f3f3;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

del {
	text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: 500;
}

ol,
ul {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 500;
}

q:after,
q:before {
	content: '';
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

a,
ins {
	text-decoration: none;
}

html {
	-webkit-tap-highlight-color: transparent;
}

body,
html {
	font-family: sans-serif;
}

ul,
li {
	list-style-type: none;
}

/* img {
	display: block;
} */

@-o-keyframes slideIn {
	0% {
		-o-transform:translateY(300px) ;
	}
	100% {
		-o-transform:translateY(0px) ;
	}
}

@-webkit-keyframes slideIn {
	0% {
		-webkit-transform:translateY(300px) ;
	}
	100% {
		-webkit-transform:translateY(0px) ;
	}
}

@-moz-keyframes slideIn {
	0% {
		-moz-transform:translateY(300px) ;
	}
	100% {
		-moz-transform:translateY(0px) ;
	}
}
@keyframes slideIn {
	0% {
		transform:translateY(300px) ;
	}
	100% {
		transform:translateY(0px) ;
	}
}

@-o-keyframes slideOut {
	0% {
		-o-transform:translateY(0px) ;
	}
	100% {
		-o-transform:translateY(300px) ;
	}
}

@-moz-keyframes slideOut {
	0% {
		-moz-transform:translateY(0px) ;
	}
	100% {
		-moz-transform:translateY(300px) ;
	}
}

@-webkit-keyframes slideOut {
	0% {
		-webkit-transform:translateY(0px) ;
	}
	100% {
		-webkit-transform:translateY(100%) ;
	}
}
@keyframes slideOut {
	0% {
		transform:translateY(0px) ;
	}
	100% {
		transform:translateY(100%) ;
	}
}

.row1 {
	width: 100%;
	height: 25%;
	float: left;
}

.row2 {
	width: 100%;
	margin: 0px 5%;
	height: 25%;
	float: left;
}

.row3 {
	width: 100%;
	height: 25%;
	float: left;
}

.row4{
	width: 100%;
	height: 25%;
	float: left;
}
.row5,.row6{
	width: 100%;
	height: 25%;
	float: left;
}
.row1pwd,.row2pwd,.row3pwdb {
	height: 100%;
	line-height: 1.6em;
	float: left;
	text-align: center;
	font-size: 1.5em;
	color: #666;
	width: 8.57%;
	background: #fff;
	margin-left: 1.3%;
	position:relative;
	border-radius: 5px;
}
.kbheader{
	width:100%;
	height:16%;
	box-sizing:border-box;
	position: relative;
}
.kbLogo{
	position: absolute;
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 100%;
	z-index: -1;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#272727;
	font-size: 0.9em;
}
.kbLogo img{
	display:block;
	height:52%;
	margin-right:1%;
}
#kbSure{
	width:auto;
	float:right;
	margin-right:4%;
	font-size: 0.9em;
	color: #F19A0A;
}

.row3pwda,.row3pwdc {
	margin: 0;
	height: 100%;
	line-height: 1.6em;
	float: left;
	text-align: center;
	font-size: 1.3em;
	width: 12.3%;
	background: #F4F4F4;
	margin-left: 1.3%;
	position:relative;
	border-radius: 5px;
}
#kb_c_20,.rowdelet{
	margin-left:2.57%;
}

.row3pwdd {
	margin: 0;
	height: 100%;
	line-height: 1.6em;
	float: left;
	text-align: center;
	font-size: 1.5em;
	color: #666;
	width: 11.69%;
	background: #fff;
	margin-left: 1.5%;
	position:relative;
	border-radius: 5px;
}
.row4pwda {
	margin: 0;
	height: 100%;
	line-height: 1.6em;
	float: left;
	text-align: center;
	font-size: 1.3em;
	width: 23.44%;
	background: #F4F4F4;
	margin-left: 1.3%;
	position:relative;
	border-radius: 5px;
}

.row4pwdb {
	margin: 0;
	height: 100%;
	line-height: 1.6em;
	float: left;
	width: 48.05%;
	margin-left: 1.3%;
	position:relative;
	background:#F4F4F4;
	border-radius: 5px;
}

.pwd {
	width: 31.3333%;
	height: 100%;
	line-height: 1.6em;
	text-align: center;
	font-size: 1.6em;
	color: #666;
	background: #fff;
	float:left;
    box-sizing: border-box;
    position: relative;
	margin-left: 1.5%;
	border-radius: 5px;
}

#kb_c_CAP>div,.rowdelet>div,#kb_c_SPACE>div,#kb_p_D div,#kb_n_D div{
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#kb_n_C{
	font-size:1.3em;
}
#kb_p_10{
	font-size:1.5em;
}
#char_keyboard,#symble_keyboard{
	position: relative;
}
.customStyle #char_keyboard:after,.customStyle #symble_keyboard:after{
	border-top:1px solid #a09393;
}
.pwd2:after{
	border-right: 0;
}
#kb_p_D{
	background: #F4F4F4;
	color: #666;
}
.pwdkeyboard,.pwdkeyboardout,.pwdkeyboardout2 {
	font-size: 16px;
	position: fixed;
	width: 100%;
	z-index: 1001;
	background: #E8E8E8;
	bottom: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	display: none;
	float: left;
	margin-top: 0;
	height: 213px;
	color:#666;
	/*box-shadow: 0 -1px 0px rgba(0,0,0,0.1);*/
}
.pwdkeyboard{
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.3s;
	-moz-animation-name: slideIn;
	-moz-animation-duration: 0.3s;
	-o-animation-name: slideIn;
	-o-animation-duration: 0.3s;
	animation-name: slideIn;
	animation-duration: 0.3s;
}
.pwdkeyboardout {
	-webkit-animation-name: slideOut;
	-webkit-animation-duration: 0.3s;
	-moz-animation-name: slideOut;
	-moz-animation-duration: 0.3s;
	-o-animation-name: slideOut;
	-o-animation-duration: 0.3s;
	animation-name: slideOut;
	animation-duration: 0.3s;
}

.pwdkeyboardout2 {
	bottom: -300px;
}
.customStyle{
	background: #212121;
	color: #fff;
}
.customStyle .kbLogo{
	color: #929292;
}
.customStyle .row1pwd,.customStyle .row2pwd,.customStyle .row3pwdb ,.customStyle .pwd{
	background: #383838;
	color: #fff;
}
.customStyle .row1pwd,.customStyle .row2pwd,.customStyle .row3pwdb{
	box-shadow: #1d1414 0px 1px 0px;
}
.customStyle .row3pwda,.customStyle .row3pwdc,.customStyle .row4pwda,.customStyle .row4pwdb,.customStyle #kb_n_C,.customStyle #kb_n_D,.customStyle #kb_p_D{
	background: #565656;
	color: #fff;
}
.delectActive{
	background: #fff;
}
.customStyle .delectActive{
	background: #383838;
}
/* 兼容iphone X
 * 或者这么写
 * @media (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio : 3){
 *	#testkbid{
 *		padding-bottom:constant(safe-area-inset-bottom);
 *	}
 * }
 * 其中constant(safe-area-inset-bottom)可以为具体值如：10px
 **/
	#testkbid{
		padding-bottom: constant(safe-area-inset-bottom);
		padding-bottom: env(safe-area-inset-bottom);
	}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
keyboard.css
*/
html {
	width: 100%;
	min-height: 100%;
	height: auto;
}

body {
	width: 100%;
	min-height: 100%;
	height: auto;
}