.ui-txt-default {
  color: #000;
}
.ui-txt-white {
  color: #fff;
}
.ui-txt-muted {
  color: #999;
}
.ui-txt-info {
  color: #666;
}
.ui-txt-warning,
.ui-txt-red {
  color: #f1ba4e;
}
.ui-txt-danger {
  color: #ff7252;
}
.yui-txt-amt {
  color: #f1ba4e;
}
.ui-txt-feeds {
  color: #314c83;
}
.ui-txt-primary {
  color: #378bf3;
}
.ui-txt-success {
  color: #09a991;
}
.ui-txt-disabled {
  color: #ababab;
}
/* 同em */
.ui-txt-highlight {
  color: #378bf3;
}
.ui-txt-deepInfo {
  color: #666;
}
