.ui-select:after {
  font-family: 'iconfont', serif !important;
  font-size: 30px;
  line-height: 44px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  display: block;
  color: #909090;
  content: '\e6a6';
  position: absolute;
  right: -11px;
  top: 50%;
  margin-top: -22px;
  border: 0;
  z-index: 1;
}
.yui-select-group {
  display: -webkit-box;
}
.yui-select-group .ui-select-input {
  box-flex: 1;
  -webkit-box-flex: 1;
  padding-right: 0.15rem;
}
.yui-select-group .ui-select {
  width: 35px;
}
.ui-select select {
  padding: 0 0 0 5px;
  position: relative;
  z-index: 2;
}
.ui-select select option {
  direction: ltr;
}
.ui-switch-more {
  position: relative;
  display: -webkit-box;
}
.ui-switch-more > i {
  padding-right: 55px;
}
.ui-switch-more .ui-switch {
  right: 0;
  margin-top: -13px;
}
.yui-select-group .ui-select-input input {
  padding-right: 0;
}
.yui-select-group .ui-select select {
  width: 35px;
  height: 35px;
  padding-right: 30px;
}
.ui-amt-area {
  padding: 15px 15px 5px 0;
}
.ui-amt-ares-title {
  font-size: 18px;
}
.ui-amt-area-input {
  padding-top: 5px;
  display: -webkit-box;
}
.ui-amt-area-input > i {
  width: 30px;
  display: inline-block;
  height: 47px;
  line-height: 47px;
  font-size: 22px;
}
.ui-amt-area-input > div {
  min-width: 200px;
  width: 100%;
  -webkit-box-flex: 1;
  padding-bottom: 3px;
  padding-right: 10px;
}
.ui-amt-area-input input {
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 0;
  background: none;
  height: 35px;
  line-height: 35px;
  width: 100%;
  font-size: 28px;
  margin: 4px 0;
}
.ui-amt-area-input input::placeholder {
  font-size: 15px;
}
.ui-amt-area-big {
  padding-top: 7px;
  padding-bottom: 5px;
  height: 29px;
  text-align: center;
  display: block;
}
