.ui-ytlog-tips {
  position: fixed;
  bottom: 120px;
  z-index: 9999;
  right: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #b3b5b5;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 0.61538em rgba(0, 0, 0, 0.4);
}

.ui-ytlog-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  display: none;
}

.ui-ytlog-panel .ui-ytlog-header {
  height: 35px;
  line-height: 35px;
  position: relative;
  text-align: center;
  font-size: 16px;
  background-color: #efeff4;
}

.ui-ytlog-panel .ui-ytlog-content {
  overflow-x: hidden;
  overflow-y: scroll;
}

.ui-ytlog-panel .ui-ytlog-content .item {
  padding: 5px 10px;
  word-break: break-all;
  font-size: 13px;
  border-bottom: 1px solid #c7c7c7;
}

.ui-ytlog-panel .ui-ytlog-content .item.error {
  color: #dc143c;
  border-color: #f4a0ab;
  background-color: #ffe4e1;
}

.ui-ytlog-panel .ui-ytlog-content .item.warn {
  color: orange;
  border-color: #ffb930;
  background-color: #fffacd;
}

.ui-ytlog-panel .ui-ytlog-content .item.info {
  color: #6a5acd;
}

/* .ui-ytlog-panel .ui-ytlog-content .item.debug{
	color: #daa520;
} */
/* .ui-ytlog-panel .ui-ytlog-content .item:after{
	content: '\e6a7';
	font-family: "iconfont", serif !important;
	font-size: 16px;
    left: 0;
    top: 50%;
    margin-top: -12px;
    position: absolute;
    color: #8d9fad;
    font-weight: bold;
} */
.ui-ytlog-panel .ui-ytlog-content .item .inner-fold {
  display: none;
}

.ui-ytlog-panel .ui-ytlog-content .item .inner-fold .arr-inner .kv-fold {
  padding-left: 15px;
}

.ui-ytlog-panel .ui-ytlog-content .item .fold {
  padding-left: 10px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
}

.ui-ytlog-panel .ui-ytlog-content .item .fold:after {
  content: '';
  left: 0;
  top: 5px;
  position: absolute;
  color: #000;
  font-weight: bold;
  border: .30769231em solid transparent;
  border-left-color: #000;
  width: 0;
  height: 0;
}

.ui-ytlog-panel .ui-ytlog-content .item .out-fold.fold-show .inner-fold {
  display: block;
}

.ui-ytlog-panel .ui-ytlog-content .item .out-fold.fold-show .fold:after {
  border-top-color: #000;
  border-left-color: transparent;
  top: 7px;
  left: -2px;
}

.ui-ytlog-panel .ui-ytlog-content .item .key {
  color: #9f66a4;
}

.ui-ytlog-panel .ui-ytlog-content .item .val {
  color: #c05e67;
}

.ui-ytlog-panel .ui-ytlog-content .item .num {
  color: #598da6;
}

.ui-ytlog-panel .ui-ytlog-content .item .str {
  color: #2659f1;
}

.ui-ytlog-panel .ui-ytlog-content .item .func {
  color: #daa520;
}

.ui-ytlog-panel .ui-ytlog-footer {
  height: 35px;
  line-height: 35px;
  display: -webkit-box;
  background-color: #efeff4;
}

.ui-ytlog-panel .ui-ytlog-footer .item {
  -webkit-box-flex: 1;
  width: 0;
  min-width: 100px;
  text-align: center;
}

.ui-ytlog-panel .ui-ytlog-footer .item span {
  position: relative;
  padding-left: 30px;
}

.ui-ytlog-panel .ui-ytlog-footer .item:first-child {
  border-right: 1px solid #d9d9d9;
}

.ui-ytlog-panel .ui-ytlog-footer .item.clean span:after,
.ui-ytlog-panel .ui-ytlog-footer .item.close span:after {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50%;
  font-family: "iconfont";
  font-size: 20px;
  left: 0;
  margin-top: -17px;
}

.ui-ytlog-panel .ui-ytlog-footer .item.clean span:after {
  content: '\e60a';
}

.ui-ytlog-panel .ui-ytlog-footer .item.close span:after {
  content: '\e69a';
}
