body,
html {
  width: 100%;
  height: 100%;
}
body.page-transform {
  position: relative;
}
.views {
  width: 100%;
  height: 100%;
  transition-duration: 400ms;
}
.pages {
  width: 100%;
  height: 100%;
  background: #ffffff;
  overflow-x: hidden;
}
body.page-transform .views {
  z-index: 1000;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
body.page-transform .pages {
  position: relative;
}
.page-view {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.page-transform .page-view {
  position: absolute;
  left: 0;
  top: 0;
  overflow: scroll;
}
.page-center-to-left {
  -webkit-animation: pageCenterToLeft 400ms forwards;
  animation: pageCenterToLeft 400ms forwards;
}
.page-on-left {
  display: none;
}
.page-transform .page-on-left {
  opacity: 0.9;
  display: block;
  -webkit-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
}
.page-on-history {
  display: none;
}
.page-center-to-right {
  -webkit-animation: pageCenterToRight 400ms forwards;
  animation: pageCenterToRight 400ms forwards;
}
.page-center-to-right:before {
  -webkit-animation: pageCenterToRightShadow 400ms forwards;
  animation: pageCenterToRightShadow 400ms forwards;
}
.page-left-to-center {
  -webkit-animation: pageLeftToCenter 400ms forwards;
  animation: pageLeftToCenter 400ms forwards;
}
.page-right-to-center {
  -webkit-animation: pageRightToCenter 400ms forwards;
  animation: pageRightToCenter 400ms forwards;
}
.page-right-to-center:before {
  -webkit-animation: pageRightToCenterShadow 400ms forwards;
  animation: pageRightToCenterShadow 400ms forwards;
}
.ui-layout-view {
  display: none;
  background: #222;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  width: 260px;
  top: 0;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.ui-layout-view.ui-view-right {
  right: 0;
}
body.ui-right-reveal .views {
  -webkit-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
}
body.ui-right-reveal .ui-view-overlay {
  margin-left: -260px;
}
.ui-layout-view.ui-view-left {
  left: -260px;
}
.ui-layout-view.ui-view-left.active {
  -webkit-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
  z-index: 1002;
}
.ui-layout-view.ui-view-left.close-view-left {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.ui-layout-view.ui-view-right.active {
  z-index: 1002;
}
.ui-view-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  opacity: 0;
  z-index: 1001;
  display: none;
}
.ui-layout-dark {
  color: #ddd;
}
.ui-layout-dark .ui-selector-content,
.ui-layout-dark .ui-list {
  background-color: #2f3133;
}
.ui-content-block-title {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
  margin: 35px 15px 10px;
  color: #fff;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .ui-layout-dark .ui-border-b {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #6a6a6a)) left bottom;
  }
}
@-moz-keyframes pageCenterToLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
  }
}
@-webkit-keyframes pageCenterToLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
  }
}
@-o-keyframes pageCenterToLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
  }
}
@keyframes pageCenterToLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
  }
}
@-moz-keyframes pageCenterToLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.9;
    transform: translate3d(-20%, 0, 0);
  }
}
@-webkit-keyframes pageCenterToLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.9;
    transform: translate3d(-20%, 0, 0);
  }
}
@-o-keyframes pageCenterToLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.9;
    transform: translate3d(-20%, 0, 0);
  }
}
@keyframes pageCenterToLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.9;
    transform: translate3d(-20%, 0, 0);
  }
}
@-moz-keyframes pageCenterToRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes pageCenterToRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
@-o-keyframes pageCenterToRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
@keyframes pageCenterToRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
@-moz-keyframes pageCenterToRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes pageCenterToRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
@-o-keyframes pageCenterToRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes pageCenterToRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
@-moz-keyframes pageCenterToRightShadow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes pageCenterToRightShadow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes pageCenterToRightShadow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes pageCenterToRightShadow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes pageCenterToRightShadow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes pageCenterToRightShadow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes pageCenterToRightShadow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes pageCenterToRightShadow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes pageLeftToCenter {
  from {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes pageLeftToCenter {
  from {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes pageLeftToCenter {
  from {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes pageLeftToCenter {
  from {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes pageLeftToCenter {
  from {
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes pageLeftToCenter {
  from {
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes pageLeftToCenter {
  from {
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes pageLeftToCenter {
  from {
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes pageRightToCenter {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes pageRightToCenter {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes pageRightToCenter {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes pageRightToCenter {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes pageRightToCenter {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes pageRightToCenter {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes pageRightToCenter {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes pageRightToCenter {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes pageRightToCenterShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes pageRightToCenterShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes pageRightToCenterShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pageRightToCenterShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes pageRightToCenterShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes pageRightToCenterShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes pageRightToCenterShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pageRightToCenterShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
