/* ***侧滑删除样式*** */
.ui-silder-cell {
  position: relative;
  overflow: hidden;
  -webkit-touch-callout: none;
  background-color: #fff;
}
.ui-silder-cell.ui-silder-cell-swap {
  padding: 0 15px;
}
.ui-silder-right {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0ms ease;
  transition: transform 0ms ease;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}
.ui-silder-handle {
  transition: transform 300ms ease;
}
.ui-silder-btn {
  position: relative;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 0 30px;
  color: #fff;
  border: 0;
  border-radius: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: transform 300ms ease;
}
.ui-silder-btn.del {
  background-color: #dd524d;
}
.ui-silder-btn.setting {
  background-color: #fb850c;
}
.ui-silder-btn.cancel {
  background-color: #d0d0d0;
}
.ui-swiper-containe {
  overflow: hidden;
}
.ui-swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
}
.ui-swiper-containe .swiper-lazy {
  display: none;
}
.ui-swiper-containe .swiper-slide {
  position: relative;
}
.ui-swiper-containe .ui-swiper-title {
  position: absolute;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  padding-left: 15px;
}
.ui-swiper-containe .swiper-lazy.swiper-lazy-loaded {
  display: block;
}
.ui-swiper-containe .swiper-lazy-preloader {
  width: 100%;
  background-color: #000;
  position: relative;
}
.ui-swiper-containe .swiper-lazy-preloader-loadding {
  position: absolute;
  width: 40px;
  height: 60px;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -30px;
}
.ui-swiper-containe .swiper-lazy-preloader-loadding:after {
  font-family: 'iconfont' !important;
  content: '\e77f';
  display: inline-block;
  -webkit-animation: loadingCircle 1s infinite linear;
  animation: loadingCircle 1s infinite linear;
  font-size: 40px;
  color: #999;
}
@-moz-keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
