@charset "UTF-8";

/*********绿色风格*********/
.theme-green #web_titlebar.theme-def{
	background-color:#09a991;
}
.theme-green .yui-bank-icon:before{
	color: #09a991;
}
.theme-green div.sixDigitPassword{
	border:1px solid #09a991;
}
.theme-green .ui-tab-nav li p.current{
	color: #09a991;
    border-bottom: 2px solid #09a991;
}
.theme-green .ui-btn-group button:first-child{
	margin-left:0;
}
/* --按钮-- */
.theme-green .ui-btn, .theme-green .ui-btn-lg, .theme-green .ui-btn-s{
	color: #09a991;
	border-color: #09a991;
}
.theme-green .ui-btn:not(.disabled):not(:disabled):active,
.theme-green .ui-btn.active,
.theme-green .ui-btn-lg:not(.disabled):not(:disabled):active,
.theme-green .ui-btn-lg.active,
.theme-green .ui-btn-s:not(.disabled):not(:disabled):active,
.theme-green .ui-btn-s.active{
	color: #09a991;
}
.theme-green .ui-btn-primary{
	color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #09a991), to(#09a991));
}
.theme-green .ui-btn-primary:not(.disabled):not(:disabled):active,
.theme-green .ui-btn-primary.active{
	border-color: #0A9C86;
	background: #0A9C86;
	color: rgba(255, 255, 255, 0.5);
}
.theme-green .ui-btn-warning{
	color: #fff;
	border-color: #f1ba4e;
}
.theme-green .ui-btn-warning:not(.disabled):not(:disabled):active,
.theme-green .ui-btn-warning.active{
	color: rgba(255, 255, 255, 0.5);
}
.theme-green .ui-btn-danger{
	color: #fff;
	border-color: #f65246;
}
.theme-green .ui-btn-danger:not(.disabled):not(:disabled):active,
.theme-green .ui-btn-danger.active{
	color: rgba(255, 255, 255, 0.5);
}


/* --单选框-- */
.theme-green .ui-radio input:checked:after{
	background:#09a991;
}
.theme-green .ui-radio{
	padding-right:5px;
}
.theme-green .ui-radio input{
	margin-right:0;
}
/* --复选框-- */
.theme-green .ui-checkbox input:checked:before,
.theme-green .ui-checkbox-s input:checked:before{
	color: #09a991;
}
.theme-green .ui-checkbox,.page-style-green .ui-checkbox-s{
	padding-right:5px;
}
.theme-green .ui-checkbox input,.page-style-green .ui-checkbox-s input{
	margin-right:0;
}
/* --开关-- */
.theme-green .ui-switch input:checked:before{
	border-color: #09a991;
	background-color: #09a991;
	-webkit-box-shadow: #09a991 0 0 0 16px inset;
}
/* --获取验证码-- */
.theme-green .yui-btn-code{
	color:#fff;
	border-color: #09a991;
	background: #09a991 -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #09a991), to(#09a991));
}
.theme-green .yui-btn-1:not(.disabled):not(:disabled):active,.theme-green .yui-btn-1.active{
	color:#fff;
	border-color: #09a991;
	background: #09a991 -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #09a991), to(#09a991));
}
/* --勾选框-- */
.theme-green .ui-checkbox-sq input:checked:before{
	/* font-family: 'iconfont';
    content: "\e640"; */
    color: #09a991;
}
.theme-green .ui-txt-success{
	color:#FF8A00;
}
/* --转账成功-- */
.theme-green .yui-result-success{
	color:#FF8A00;
}
.theme-green .ui-radio-s input+span{
	border:1px solid #09a991;
	border-radius:4px;
	color:#09a991;
}
.theme-green .ui-radio-s input:checked+span{
	border:1px solid #09a991;
	color:#fff;
	background:#09a991;
}
.theme-green .yui-auth-form-item a{
	color: #09a991;
}
.theme-green .ui-letter{
	color: #09a991;
}
